.home-container-fluid {
  background-color: beige;
  width: 100%;
  height: 100vh;
}

.animation {
  justify-content: flex-end;
}

.home-font {
  font-size: x-large;
  font-weight: 700;
}

.div-top {
  margin-top: 5%;
}

.socialLink-div {
  font-size: large;
  text-align: end;
  margin-right: 5%;
}

.AboutMe-Line {
  border: 1px solid burlywood;
  width: 12rem;
  height: 1px;
  margin-bottom: 12px;
}

.home_title_L {
  font-size: xx-large;
  padding-bottom: 5%;
  font-weight: 1200;
  color: black;
  text-align: end;
}

.home_subTitle_L {
  font-size: xx-large;
  padding-bottom: 5%;
  font-weight: 1200;
  color: white;
}

.home_title_R {
  font-size: xx-large;
  padding-bottom: 5%;
  font-weight: 900;
  color: black;
  text-align: end;
}
.home_title_R2 {
  font-size: xx-large;
  padding-bottom: 20%;
  font-weight: 900;
  color: black;
  text-align: end;
}

.home_subTitle_R {
  font-size: xx-large;
  padding-bottom: 5%;
  font-weight: 1200;
  color: white;
}

.hero is-warning {
  width: 50%;
}

.term-contents {
  padding-bottom: 50%;
}

.term-contents1 {
  padding-bottom: 20%;
}
