/* 사진 & 기본정보 테이블 관련 CSS */
.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}
.resume-title {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 900;
  color: coral;
  padding-top: 5%;
  padding-left: 5%;
}

.resume-table {
  width: 91%;
  margin-bottom: 40px;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: bisque;
}

.resume-table th {
  padding: 16px;
  text-align: center;
}
.resume-table td {
  padding: 25px;
  width: 150px;
  text-align: center;
}

.resume-table thead {
  background-color: coral;
}

.resume-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 경험 테이블 관련 CSS */
.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}

.experience-table {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: bisque;
}

.experience-table th,
.experience-table td {
  padding: 16px;
  text-align: left;
}

.experience-table thead {
  background-color: coral;
}

.experience-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 결과 테이블 관련 CSS */
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}

.result-table {
  width: 91%;
  margin-bottom: 40px;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: bisque;
}

.result-table th,
.result-table td {
  padding: 16px;
  text-align: left;
}

.result-table thead {
  background-color: coral;
}

.result-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 기타 css */
.profile-image {
  width: 70%;
  border-radius: 0%;
  object-fit: cover;
  object-position: center;
  padding-left: 28%;
}

.profile-info {
  background-color: #f9f9f9;
  column-span: 2;
}
.betweenLine {
  margin-bottom: 30px;
}

.arrowLtoR {
  width: 30%;
  height: 30%;
  padding-left: 10%;
  padding-top: 5%;
}

.skills {
  font-weight: bold;
  color: #2ecc71;
}

.intro-bg {
  background-color: cadetblue;
}

.intro_title {
  font-size: 2rem;
  padding-bottom: 5%;
  font-weight: 900;
  color: white;
  padding-top: 5%;
  padding-left: 5%;
}

.intro-list {
  width: 70%;
}

.intro-scope {
  padding-left: 5%;
  padding-bottom: 5%;
  width: 70%;
}
