.activity2 {
  display: flex;
  margin: 20px;
  background-color: #F8F6CF;
  border-radius: 12px;
  overflow: hidden;
  width: 80%;
}

.activity2-image {
  width: 100%; /* 너비를 줄임 */
  overflow: hidden;
  margin-top: 8%;
}

.activity2-image img {
  width: 100%;
  height: auto;
  padding-left: 10%;
}

.activity2-content {
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 수정 */
  padding: 20px;
  color: #696969;
  width: 900px;
  font-size: x-large;
}

.activity2-content h2 {
  color: #ff69b4; /* Hot Pink */
}

.activity2-content p {
  line-height: 1.6;
  margin-bottom: 10px;
}
